:root {
  --clr-primary-blue: hsl(220, 98%, 61%);
  --clr-primary-gradient:  linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) ;

  /* Light theme */
  --clr-light-100: hsl(0, 0%, 98%);
  --clr-light-200: hsl(236, 33%, 92%);
  --clr-light-300: hsl(233, 11%, 84%);
  --clr-light-400: hsl(236, 9%, 61%);
  --clr-light-500: hsl(235, 19%, 35%);

  /* Dark theme*/
  --clr-dark-100: hsl(236, 33%, 92%);
  --clr-dark-200: hsl(234, 39%, 85%);
  --clr-dark-300: hsl(234, 11%, 52%);
  --clr-dark-400: hsl(233, 14%, 35%);
  --clr-dark-500: hsl(237, 14%, 26%);
  --clr-dark-600: hsl(235, 24%, 19%);
  --clr-dark-700: hsl(235, 21%, 11%);
}